<div class="container">
<div class="jumbotron">
  <h4 align="center"> Form </h4>
  <form novalidate #valid="ngForm">
    <div class="form-group" >
      <label for="name">
        Name:
      </label>
      <input type="text" name="name" class="form-control" placeholder="Enter Name"
             [(ngModel)]="name" required>
      <br>
      <label for="age">
        Age:
      </label>
      <input type="number" name="age" class="form-control" placeholder="Enter Age"
             [(ngModel)]="number" required>
      <br>
      <label for="score">
        Score:
      </label>
      <input type="number" name="score" class="form-control" placeholder="Enter Score"
             [(ngModel)]="score" required>
      <br>
      <label for="email">
        EmailId:
      </label>
      <input type="email" name="email" class="form-control" placeholder="Enter valid email"
             [(ngModel)]="email" required>
      <br>
      <button type="submit" name="button" class="btn btn-success">Submit</button>
    </div>
    <div class="container">
     {{ valid.value | json }}
    </div>
  </form>
</div>
</div>

